In [1]:
import pandas as pd
import numpy as np

In [14]:
ftla_df = pd.read_csv('Downloads/FulltimeLA.csv')
ftla_df.head(200)

,position,company,description,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,"<span id=""job_summary"" class=""summary""><div><b...",198 reviews,"Los Angeles, CA"
2,Postdoctoral Research Associate,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
3,Research Analyst,"SHIELDS for Families, Inc.","<span id=""job_summary"" class=""summary""><b>SUMM...",48 reviews,"Los Angeles, CA 90002"
4,Additive Materials and Process Scientist,Divergent 3D,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Los Angeles, CA"
...,...,...,...,...,...
195,Laboratory Assistant (PM),Olympia Medical Center,"<span id=""job_summary"" class=""summary""><div><d...",57 reviews,"Los Angeles, CA 90036"
196,Sr. Client Services Manager,BuzzFeed,"<span id=""job_summary"" class=""summary"">BuzzFee...",30 reviews,"Los Angeles, CA 90036"
197,Front End Engineer,Oath Inc,"<span id=""job_summary"" class=""summary""><div>Ta...",5 reviews,"Los Angeles, CA"
198,Senior Research Associate,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
199,Marketing Scientist,BrainWorks,"<span id=""job_summary"" class=""summary"">Design ...",NaN,"Los Angeles, CA"

In [6]:
ftla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     254 non-null    object
 1   company      254 non-null    object
 2   description  254 non-null    object
 3   numreview    168 non-null    object
 4   location     254 non-null    object
dtypes: object(5)
memory usage: 10.0+ KB

In [9]:
ftla_df.loc[1]

position                                  Analyst - Optimization
company                              The Boston Consulting Group
description    <span id="job_summary" class="summary"><div><b...
numreview                                            198 reviews
location                                         Los Angeles, CA
Name: 1, dtype: object

In [10]:
ftla_df.drop(['description'], axis = 1, inplace = True)
ftla_df.head(2)

,position,company,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,198 reviews,"Los Angeles, CA"

In [11]:
ftla_df.describe()

              position       company    numreview         location
count              254           254          168              254
unique             219           134           57               21
top     Data Scientist  Cedars-Sinai  661 reviews  Los Angeles, CA
freq                14            24           32              187

In [12]:
condition = ftla_df['location'] == 'Los Angeles, Ca'
print(condition)

0      False
1      False
2      False
3      False
4      False
       ...
249    False
250    False
251    False
252    False
253    False
Name: location, Length: 254, dtype: bool

In [26]:
ftla_df.company

position
Institutional Review Board Analyst I - Office of Research                            USC
Analyst - Optimization                                       The Boston Consulting Group
Postdoctoral Research Associate                                                      USC
Research Analyst                                              SHIELDS for Families, Inc.
Additive Materials and Process Scientist                                    Divergent 3D
                                                                        ...
Postdoctoral Scientist - PET/CT Angiography Imaging                         Cedars-Sinai
Postdoctoral Scientist - Surgery / Urologu                   Cedars-Sinai Medical Center
Market Research Analyst                                              Penn Schoen Berland
Market Research Business Analyst                                   Kantar Millward Brown
Product Manager - Tenable Research                                               Tenable
Name: company, Length: 254, dtype: object

In [28]:
ftla_df

,company,description,numreview,location
position,,,,
Institutional Review Board Analyst I - Office of Research,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
Analyst - Optimization,The Boston Consulting Group,"<span id=""job_summary"" class=""summary""><div><b...",198 reviews,"Los Angeles, CA"
Postdoctoral Research Associate,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
Research Analyst,"SHIELDS for Families, Inc.","<span id=""job_summary"" class=""summary""><b>SUMM...",48 reviews,"Los Angeles, CA 90002"
Additive Materials and Process Scientist,Divergent 3D,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Los Angeles, CA"
...,...,...,...,...
Postdoctoral Scientist - PET/CT Angiography Imaging,Cedars-Sinai,"<span id=""job_summary"" class=""summary""><div>Th...",661 reviews,"Los Angeles, CA"
Postdoctoral Scientist - Surgery / Urologu,Cedars-Sinai Medical Center,"<span id=""job_summary"" class=""summary""><p>Summ...",661 reviews,"Los Angeles, CA 90048"
Market Research Analyst,Penn Schoen Berland,"<span id=""job_summary"" class=""summary""><div><d...",2 reviews,"Los Angeles, CA"
Market Research Business Analyst,Kantar Millward Brown,"<span id=""job_summary"" class=""summary""><div><d...",21 reviews,"Los Angeles, CA"
Product Manager - Tenable Research,Tenable,"<span id=""job_summary"" class=""summary""><div><p...",17 reviews,"Los Angeles, CA"

In [29]:
ftla_df.index.name=None

In [32]:
print(ftla_df.loc['Research Analyst'])

                                            company  \
Research Analyst         SHIELDS for Families, Inc.
Research Analyst              Investigative Company
Research Analyst                Cushman & Wakefield
Research Analyst  Volunteers of America Los Angeles
Research Analyst               The Expert Institute
Research Analyst                            Twitter
Research Analyst                           DCS Corp
Research Analyst                Marcus & Associates
Research Analyst                     Lockstep, Inc.

                                                        description  \
Research Analyst  <span id="job_summary" class="summary"><b>SUMM...
Research Analyst  <span id="job_summary" class="summary"><p>Incu...
Research Analyst  <span id="job_summary" class="summary">Respons...
Research Analyst  <span id="job_summary" class="summary"><b>Abou...
Research Analyst  <span id="job_summary" class="summary"><b>Over...
Research Analyst  <span id="job_summary" class="summary"><div><d...
Research Analyst  <span id="job_summary" class="summary"><div>Th...
Research Analyst  <span id="job_summary" class="summary"><p>Our ...
Research Analyst  <span id="job_summary" class="summary"><p><b>O...

                      numreview               location
Research Analyst     48 reviews  Los Angeles, CA 90002
Research Analyst            NaN        Los Angeles, CA
Research Analyst    400 reviews  Los Angeles, CA 90067
Research Analyst  1,674 reviews  Los Angeles, CA 90010
Research Analyst            NaN        Los Angeles, CA
Research Analyst     56 reviews        Los Angeles, CA
Research Analyst     43 reviews        Los Angeles, CA
Research Analyst            NaN        Los Angeles, CA
Research Analyst            NaN        Los Angeles, CA